---
import Layout from "../layouts/Default.astro";
import Social from "../components/Social.astro";
---

<Layout
    title="Portfolio - Markus Hunsalz"
    description="Markus Hunsalz's personal portfolio website"
>
    <div class="flex h-screen justify-center items-center m-0 p-0 bg-gray-700">
        <div class="m-auto">
            <h1
                class="text-8xl font-bold text-center pb-4 text-white line-through underline-8 underline-gray-700"
            >
                Markus Hunsalz
            </h1>
            <Social />
            <p class="text-3xl font-bold text-center pb-4 text-white">
                Re-think common design patterns
            </p>
        </div>
    </div>
</Layout>
