---
import { Icon } from "astro-icon/components";
---

<aside
    class="flex space-x-4 justify-center items-center mx-auto my-4 w-screen bg-white"
>
    <a
        href="https://github.com/hunsalz"
        class="p-8"
        target="_blank"
        rel="noopener noreferrer"
        title="Github"
    >
        <Icon name="mdi:github" class="icon-lg" />
    </a>
    <a
        href="https://www.linkedin.com/in/markus-hunsalz"
        class="p-8"
        target="_blank"
        rel="noopener noreferrer"
        title="Github"
    >
        <Icon name="mdi:linkedin" class="icon-lg" />
    </a>
</aside>
