/**
 * Colors & Variables
 */

:root {
  // Palette
  --color-primary: #0b9dcc;
  --color-secondary: #2c3e50;
  --color-ionos-blue: #003d8f;
  --color-midnight: #1b365d;
  --color-dark-midnight: #001b41;
  --color-horizon: #3B9CDA;
  --color-bg-lighten-2: #e8f6fe;
  --color-bg-lighten-1: #cbdae1;
  --color-bg-warning: #ffffda;
  --color-white: theme("colors.white");
  --color-text-light: #50575B;
  --color-text-dark: #1F282D;
}

h1,
h2,
h3,
h4 {
  @apply relative leading-snug font-headline font-semibold mb-4 text-ui-headline;

  a {
    &::before {
      @apply absolute right-[100%] pr-2 text-ui-primary opacity-0;
      content: "#";
    }
  }

  &:hover {
    a::before {
      @apply opacity-100;
    }
  }
}

h1 {
  @apply tracking-0;
  font-size: 42px;
  line-height: 52px;
}

h2 {
  @apply tracking-0;
  font-size: 32px;
  line-height: 42px;
}

h3 {
  @apply font-normal tracking-0.5px;
  font-size: 24px;
  line-height: 37px;
}

h4 {
  @apply text-lg;
}

p,
ol,
ul,
pre,
strong,
blockquote {
  @apply mb-4 text-base text-ui-typo tracking-normal;
}

.flex-center {
  @apply flex justify-center items-center;
}

.absolute-center-x {
  @apply left-1/2;
  transform: translateX(-50%);
}

.absolute-center-y {
  @apply top-1/2;
  transform: translateY(-50%);
}

.absolute-center {
  @apply absolute-center-x absolute-center-y;
  transform: translate(-50%, -50%);
}

.absolute-fit {
  @apply absolute top-0 left-0 right-0 bottom-0;
}

/**
 * Components
 */

.material-design-icon {
  height: 1.25em;
  width: 1.25em;

  & > .material-design-icon__svg {
    height: 1.25em;
    width: 1.25em;
  }

  &.icon-lg, &.icon-lg > .material-design-icon__svg {
    height: 4em;
    width: 4em;
  }
}
